main {
    flex: 1;


    display: flex;
    align-items: center;

    width: 100%;
    max-width: 1280px;
    
}

.imagem__flex{
    position: relative;
    left: 200px;
    top: 10px;    

}

.main__info {
    width: 100%;
    max-width: 570px;
    padding-left: 30px;
}

.main__info p {
    font-size: 15px;
    margin: 20px 0 28px;
    position: relative;
    top: -50px;
    
    
}

.main__info div {
    display: flex;
    column-gap: 32px;
}

.main__info div a, .main__info div button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 0.3px;

    transform: skew(-10deg);
}

.main__info div a {
    background:transparent;
    border: 1px solid var(--lilas);
    position: relative;
    top: -40px;

}

.main__info div button {
    background: transparent;
    border: 1px solid var(--yellow);
    position: relative;
    top: -40px;
    

}
